/* src/app/components/escena/escena.component.scss */

.card {
  width: 100%;
  max-width: 22rem;
  overflow: hidden;
  margin: auto;
  min-height: 740px;
  position: relative;
}

.container-img {
  min-height: 390px;
}

.container-img>img {
  max-height: 312px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #212529;
  width: 2rem;
  border-radius: 2rem;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card {
    min-height: 712px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}