/* src/app/components/escena/escena.component.scss */

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #717171;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Resto de estilos */

.container {
  transition: opacity 300ms;
}